#container {
	width: 2100px;
	height: 750px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*=============================================================================
	THE FULL SIZE IMAGES
=============================================================================*/

.fullSize {
	position: relative;
	float: left;
	width: 700px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
}

.fullSize img{
	width: 100%;
	height: 100%;
}

/*=============================================================================
	CONTENT
=============================================================================*/

.contentStrip{
	width: 700px;
	height: 140px;
	position: absolute;
	opacity: 1;
	top: 443px;
	-webkit-transform: translate(2100px, 0px);
	transform: translate(2100px, 0px);
}

.contentStrip img{
	position: absolute;
	top: 0px;
	width: 400px;
	height: 140px;
	left: 300px;
}

#fiveContent {
	left: 0px;
}

#sixContent {
	left: 700px;
}

#sevenContent {
	left: 1400px;
}

/*=============================================================================
	VERTICAL BARS
=============================================================================*/

.colorStripe {
	position: absolute;
	top: 0px;
	width: 225px;
	height: 750px;
	margin-left: 76px;
	-webkit-transform: translate(0, -750px);
	transform: translate(0, -750px);
}

#fiveStripe {
	left: 0px;
}

#sixStripe {
	left: 700px;
}

#sevenStripe {
	left: 1400px;
}