/**************************************
 *
 *	YUI 3.10.3 (build 2fb5187) CSS reset
 *  Copyright 2013 Yahoo! Inc.
 *
 **************************************/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

figure {
  margin: 0; }

/**************************************
 *
 *	Micro clearfix
 *
 **************************************/
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/**************************************
 *
 *	Base
 *
 **************************************/
* {
  box-sizing: border-box; }

html, body {
  background: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px; }

#wrapper {
  width: 2880px; }

section {
  position: relative;
  background: white;
  width: 960px;
  float: left;
  outline: 1px solid #ccc;
  /*
   *	Term animation styles
   *
   */ }
  section svg {
    position: absolute;
    top: 0;
    left: 0; }
    section svg * {
      -webkit-transition: all 4s ease 0; }
    section svg#LAB-L * {
      -webkit-transition-delay: 0s; }
    section svg#LAB-A * {
      -webkit-transition-delay: 2s; }
    section svg#LAB-B * {
      -webkit-transition-delay: 4s; }
  section canvas {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 0; }
  section header, section article {
    display: block;
    height: 540px;
    padding: 0 11.5%;
    overflow: scroll; }
  section header {
    padding-top: 27%; }
    section header h1 {
      font-size: 7.5em; }
    section header h2 {
      font-size: 30px; }
  section article > div {
    float: left;
    font-size: .6em; }
  section article .intro {
    width: 37%;
    margin-right: 3%;
    -webkit-column-width: 15em;
    -webkit-column-gap: 2em; }
  section article .media {
    width: 37%;
    margin-right: 3%;
    min-height: 100px; }
    section article .media > * {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100px; }
  section article .idea {
    width: 17%; }
  section[data-theme="red"] {
    color: #ff001a; }
  section[data-theme="green"] {
    color: #00992d; }
  section[data-theme="blue"] {
    color: blue; }
  section[data-theme="purple"] {
    color: #93288a; }
  section[data-theme="orange"] {
    color: orange; }
  section[data-theme="LAB"] canvas {
    opacity: 0; }
  section header {
    -webkit-transition: all 2s ease; }
  section .intro, section .media, section .idea {
    -webkit-transition: all 1.5s ease; }
  section .intro {
    -webkit-transition-delay: .5s; }
  section .media {
    -webkit-transition-delay: .8s; }
  section .idea {
    -webkit-transition-delay: 1.1s; }
  section canvas {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all 1s ease; }
  section.transitioning {
    /*
    		.intro { -webkit-transition-delay: .5s}
    		.media { -webkit-transition-delay: .8s}
    		.idea  { -webkit-transition-delay: 1.1s}
    */ }
    section.transitioning header {
      opacity: 0;
      -webkit-transform: translate3d(0, -200px, 0); }
    section.transitioning .intro, section.transitioning .media, section.transitioning .idea {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0); }
    section.transitioning canvas {
      opacity: 0;
      -webkit-transform: scale(0.6); }

p.notify {
  background: yellow; }
