/**************************************
 *
 *	YUI 3.10.3 (build 2fb5187) CSS reset
 *  Copyright 2013 Yahoo! Inc.
 *
 **************************************/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

figure {
  margin: 0; }

/**************************************
 *
 *	Micro clearfix
 *
 **************************************/
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/**************************************
 *
 *	Base
 *
 **************************************/
* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; }

html, body {
  background: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

#wrapper {
  width: 5760px; }

section {
  position: relative;
  background: white;
  width: 1920px;
  float: left;
  outline: 1px solid #ccc;
  /**************************************
   *
   *	Term animation styles
   *
   **************************************/ }
  section canvas {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 0; }
  section header, section article {
    display: block;
    height: 1080px;
    padding: 0 11.5%;
    overflow: scroll; }
  section header {
    padding-top: 27%; }
    section header h1 {
      font-size: 7.5em;
      font-weight: 300;
      margin-top: 40px; }
    section header h2 {
      font-size: 66px;
      font-weight: 300; }
  section article {
    margin-top: 30px; }
    section article > div {
      float: left;
      font-size: 18px;
      max-height: 905px;
      line-height: 130%; }
      section article > div p {
        margin-bottom: 1em; }
      section article > div strong {
        display: block;
        text-transform: uppercase;
        font-weight: bold; }
      section article > div em {
        font-weight: 300;
        font-style: italic; }
    section article .term-description {
      width: 23%;
      margin-right: 2%; }
    section article .media {
      position: relative;
      width: 35%;
      margin-right: 2%;
      min-height: 700px; }
      section article .media > video, section article .media > img {
        position: absolute;
        top: 10px;
        left: 0;
        display: block;
        width: 100%;
        height: auto; }
      section article .media img:nth-child(2) {
        z-index: 19; }
      section article .media img:nth-child(3) {
        z-index: 18; }
      section article .media img:nth-child(4) {
        z-index: 17; }
      section article .media img:nth-child(5) {
        z-index: 16; }
      section article .media img:nth-child(6) {
        z-index: 15; }
      section article .media img:nth-child(7) {
        z-index: 14; }
      section article .media .progress-bar {
        position: absolute;
        width: 1%;
        height: 10px;
        background: black;
        z-index: 30;
        -webkit-transition: width 122s linear, background 1s ease 2s; }
        section article .media .progress-bar.active {
          width: 100%; }
      section article .media .caption {
        margin-top: 1em; }
    section article .project-desc {
      width: 23%;
      margin-right: 2%; }
      section article .project-desc:before {
        content: "Program Example";
        display: block;
        text-transform: uppercase;
        font-weight: 700; }
    section article .project-meta {
      width: 13%; }
      section article .project-meta > div:before {
        display: block;
        text-transform: uppercase;
        font-weight: 700; }
      section article .project-meta .location:before {
        content: "Location"; }
      section article .project-meta .program:before {
        content: "Program";
        margin-top: 1em; }
      section article .project-meta .date:before {
        content: "Date";
        margin-top: 1em; }
  section[data-theme="red"] {
    color: #ff001a; }
    section[data-theme="red"] article .media .progress-bar {
      background: #ff001a; }
  section[data-theme="green"] {
    color: #00992d; }
    section[data-theme="green"] article .media .progress-bar {
      background: #00992d; }
  section[data-theme="blue-light"] {
    color: #00b1ea; }
    section[data-theme="blue-light"] article .media .progress-bar {
      background: #00b1ea; }
  section[data-theme="blue-dark"] {
    color: #006fb8; }
    section[data-theme="blue-dark"] article .media .progress-bar {
      background: #006fb8; }
  section[data-theme="purple"] {
    color: #93288a; }
    section[data-theme="purple"] article .media .progress-bar {
      background: #93288a; }
  section[data-theme="orange"] {
    color: #dd9122; }
    section[data-theme="orange"] article .media .progress-bar {
      background: #dd9122; }
  section[data-theme="LAB"] {
    color: white; }
    section[data-theme="LAB"] canvas {
      opacity: 0; }
  section header {
    -webkit-transition: all 2s ease; }
  section .term-description,
  section .media,
  section .project-desc,
  section .project-meta {
    -webkit-transition: all 1.5s ease; }
  section .term-description {
    -webkit-transition-delay: .5s; }
  section .media {
    -webkit-transition-delay: .7s; }
  section .project-desc {
    -webkit-transition-delay: .9s; }
  section .project-meta {
    -webkit-transition-delay: 1.1s; }
  section canvas {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all 1s ease; }
  section.transitioning header {
    opacity: 0;
    -webkit-transform: translate3d(0, -300px, 0); }
  section.transitioning .term-description,
  section.transitioning .media,
  section.transitioning .project-desc,
  section.transitioning .project-meta {
    opacity: 0; }
  section.transitioning canvas {
    opacity: 0;
    -webkit-transform: scale(0.6); }

/**************************************
 *
 *	LAB interstitial
 *
 **************************************/
#interstitial {
  position: absolute;
  top: 0;
  left: -450px;
  width: 6210px;
  height: 2160px;
  overflow: hidden; }
  #interstitial .letter {
    position: absolute;
    top: 450px; }
    #interstitial .letter > div {
      position: absolute;
      font-size: 42px;
      color: white; }
    #interstitial .letter .term {
      position: absolute;
      font-weight: 300;
      -webkit-transition: all 4s ease 0; }
      #interstitial .letter .term.red {
        color: #ff001a; }
      #interstitial .letter .term.green {
        color: #00992d; }
      #interstitial .letter .term.blue-light {
        color: #00b1ea; }
      #interstitial .letter .term.blue-dark {
        color: #006fb8; }
      #interstitial .letter .term.purple {
        color: #93288a; }
      #interstitial .letter .term.orange {
        color: #dd9122; }
      #interstitial .letter .term.transition-term.active {
        top: 0 !important;
        left: 0 !important;
        letter-spacing: 0 !important;
        opacity: 1 !important;
        font-size: 60px !important;
        -webkit-transition: -webkit-transform 2.5s ease, opacity 1s ease;
        z-index: 999; }
      #interstitial .letter .term .slash {
        color: black !important; }
    #interstitial .letter.L {
      width: 815px;
      height: 1085px;
      left: 1080px; }
      #interstitial .letter.L .term.transition-term.active {
        -webkit-transform: translate3d(-409px, 213px, 0) !important; }
    #interstitial .letter.A {
      width: 1140px;
      height: 1085px;
      left: 2750px; }
      #interstitial .letter.A > div {
        margin-left: 370px; }
      #interstitial .letter.A .term.transition-term.active {
        margin: 0;
        -webkit-transform: translate3d(-159px, 213px, 0) !important; }
    #interstitial .letter.B {
      width: 1005px;
      height: 1085px;
      left: 4800px; }
      #interstitial .letter.B .term.transition-term.active {
        -webkit-transform: translate3d(-289px, 213px, 0) !important; }

#pause {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  outline: 2px solid black;
  border: 0;
  -webkit-appearance: none; }
  #pause.paused {
    background: red; }
