/**************************************
 *
 *	YUI 3.10.3 (build 2fb5187) CSS reset
 *  Copyright 2013 Yahoo! Inc.
 *
 **************************************/

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}figure{margin:0}


/**************************************
 *
 *	Micro clearfix
 *
 **************************************/
 
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}


/**************************************
 *
 *	Base
 *
 **************************************/

* {
	box-sizing: border-box;
	 -webkit-backface-visibility: hidden;
	 -webkit-transform-style: preserve-3d;
}

html, body {
	background: #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#wrapper {
	width: 5760px;
}

section {
	
	position: relative;
	background: white;
	width: 1920px;
	float: left;
	outline: 1px solid #ccc;

	svg {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: opacity 2s ease 0;
		* { -webkit-transition: all 4s ease 0;}
		&#LAB-L * { -webkit-transition-delay: 0s;}
		&#LAB-A * { -webkit-transition-delay: 1.5s;}
		&#LAB-B * { -webkit-transition-delay: 2.5s;}
	}
	
	canvas {
		position: absolute;
		top: 40px;
		right: 40px;
		z-index: 0;
	}
	
	header, article {
		display: block;
		height: 1080px;
		padding: 0 11.5%;
		overflow: scroll;
	}
	
	header {
		padding-top: 27%;
		h1 { font-size: 7.5em;}
		h2 { font-size: 60px;}
	}
	
	article {
		&>div {
			float: left;
			font-size: 18px;
		}
		.intro {
			width: 37%;
			margin-right: 3%;
			-webkit-column-width: 10em;
			-webkit-column-gap: 2em;
		}
		.media {
			width: 37%;
			margin-right: 3%;
			min-height: 200px;
			&>* {
				display: block;
				width: 100%;
				height: auto;
				min-height: 200px;
			}
		}
		.idea {
			width: 17%;
		}
		
	}
	
	&[data-theme="red"] {
		color: #ff001a;
	}
	&[data-theme="green"] {
		color: #00992d;
	}
	&[data-theme="blue-light"] {
		color: #00b1ea;
	}
	&[data-theme="blue-dark"] {
		color: #006fb8;
	}
	&[data-theme="purple"] {
		color: #93288a;
	}
	&[data-theme="orange"] {
		color: #fdaa32;
	}

	&[data-theme="LAB"] {
		color: white;
		svg { opacity: 1;}
		canvas { opacity: 0;}
	}

	/*
	 *	Term animation styles
	 *
	 */

	header {
		-webkit-transition: all 2s ease;
	}
	.intro, .media, .idea {
		-webkit-transition: all 1.5s ease;
	}
	.intro { -webkit-transition-delay: .5s}
	.media { -webkit-transition-delay: .8s}
	.idea  { -webkit-transition-delay: 1.1s}

	canvas {
		opacity: 1;
		-webkit-transform: scale(1);
		-webkit-transition: all 1s ease;
	}

	&.transitioning {

		header {
			opacity: 0;
			-webkit-transform: translate3d(0, -300px, 0);
		}
		.intro, .media, .idea {
			opacity: 0;
		}

		canvas {
			opacity: 0;
			-webkit-transform: scale(.6);
		}
		
	}

}


#interstitial {

	position: absolute;
	top: 0;
	left: -450px;	
	width: 6210px; // (5760 + 450^^)
	height: 2160px;
	overflow: hidden;
	
	.letter {

		position: absolute;
		top: 450px;

		.term { 

			position: absolute;
			font-family:'HelveticaNeueLTPro-Md';
			font-size:43.9998894px;
			color: white;
			-webkit-transition: all 4s ease 0;

			&.red {
				color: #ff001a;
			}
			&.green {
				color: #00992d;
			}
			&.blue-light {
				color: #00b1ea;
			}
			&.blue-dark {
				color: #006fb8;
			}
			&.purple {
				color: #93288a;
			}
			&.orange {
				color: #fdaa32;
			}

		}

		&.L {
			width: 815px;
			height: 1085px;
			left: 1080px;
		}

		&.A {
			width: 1140px;
			height: 1085px;
			left: 2750px;
			.term { margin-left: 370px;}
		}

		&.B {
			width: 1005px;
			height: 1085px;
			left: 4800px;
		}
		
	}

}