/**************************************
 *
 *	YUI 3.10.3 (build 2fb5187) CSS reset
 *  Copyright 2013 Yahoo! Inc.
 *
 **************************************/

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}figure{margin:0}


/**************************************
 *
 *	Micro clearfix
 *
 **************************************/
 
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}


/**************************************
 *
 *	Base
 *
 **************************************/

* {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

html, body {
	background: #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#wrapper {
	width: 5760px;
}

section {
	
	position: relative;
	background: white;
	width: 1920px;
	float: left;
	outline: 1px solid #ccc;
	
	canvas {
		position: absolute;
		top: 40px;
		right: 40px;
		z-index: 0;
	}
	
	header, article {
		display: block;
		height: 1080px;
		padding: 0 11.5%;
		overflow: scroll;
	}
	
	header {
		padding-top: 27%;
		h1 { font-size: 7.5em; font-weight: 300;}
		h2 { font-size: 60px; font-weight: 300;}
	}
	
	article {
		&>div {
			float: left;
			font-size: 18px;
			max-height: 905px;
			overflow: hidden;
			line-height: 130%;
			p {
				margin-bottom: 1em;
			}
			strong {
				display: block;
				text-transform: uppercase;
				font-weight: bold;
			}
			em {
				font-weight: 300;
				font-style: italic;
			}
		}
		.term-description {
			width: 23%;
			margin-right: 2%;
		}
		.media {
			position: relative;
			width: 35%;
			margin-right: 2%;
			min-height: 700px;
			&>video,
			&>img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: auto;
			}
			
			img:nth-child(2) { z-index: 19;}
			img:nth-child(3) { z-index: 18;}
			img:nth-child(4) { z-index: 17;}
			img:nth-child(5) { z-index: 16;}
			img:nth-child(6) { z-index: 15;}
			img:nth-child(7) { z-index: 14;}

			.progress-bar {
				position: absolute;
				width: 1%;
				height: 10px;
				background: black;
				z-index: 30;
				-webkit-transition: width 11s linear, background 1s ease 2s;
				&.active { width: 100%;}				
			}
			.caption {
				margin-top: 1em;
			}
		}
		.project-desc {
			width: 23%;
			margin-right: 2%;
			&:before {
				content: "Program Example";
				display: block;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.project-meta {
			width: 13%;
			&>div:before {
				display: block;
				text-transform: uppercase;
				font-weight: 700;			
			}
			.location:before {
				content: "Location";
			}
			.program:before {
				content: "Program";
				margin-top: 1em;
			}
			.date:before {
				content: "Date";
				margin-top: 1em;
			}
		}
		
	}
	
	&[data-theme="red"] {
		color: #ff001a;
		article .media .progress-bar { background: #ff001a;}
	}
	&[data-theme="green"] {
		color: #00992d;
		article .media .progress-bar { background: #00992d;}
	}
	&[data-theme="blue-light"] {
		color: #00b1ea;
		article .media .progress-bar { background: #00b1ea;}
	}
	&[data-theme="blue-dark"] {
		color: #006fb8;
		article .media .progress-bar { background: #006fb8;}
	}
	&[data-theme="purple"] {
		color: #93288a;
		article .media .progress-bar { background: #93288a;}
	}
	&[data-theme="orange"] {
		color: #fdaa32;
		article .media .progress-bar { background: #fdaa32;}
	}

	&[data-theme="LAB"] {
		color: white;
		canvas { opacity: 0;}
	}



	/**************************************
	 *
	 *	Term animation styles
	 *
	 **************************************/

	header {
		-webkit-transition: all 2s ease;
	}
	.term-description, 
	.media,
	.project-desc,
	.project-meta {
		-webkit-transition: all 1.5s ease;
	}
	.term-description	{ -webkit-transition-delay: .5s}
	.media				{ -webkit-transition-delay: .7s}
	.project-desc		{ -webkit-transition-delay: .9s}
	.project-meta		{ -webkit-transition-delay: 1.1s}

	canvas {
		opacity: 1;
		-webkit-transform: scale(1);
		-webkit-transition: all 1s ease;
	}

	&.transitioning {

		header {
			opacity: 0;
			-webkit-transform: translate3d(0, -300px, 0);
		}
		.term-description,
		.media ,
		.project-desc,
		.project-meta {
			opacity: 0;
		}

		canvas {
			opacity: 0;
			-webkit-transform: scale(.6);
		}
		
	}

}

/**************************************
 *
 *	LAB interstitial
 *
 **************************************/

#interstitial {

	position: absolute;
	top: 0;
	left: -450px;	
	width: 6210px; // (5760 + 450^^)
	height: 2160px;
	overflow: hidden;
	
	.letter {

		position: absolute;
		top: 450px;

		> div { 
			position: absolute;
			font-size:43.9998894px;
			color: white;
		}

		.term {
			position: absolute;
			font-weight: 300;
			-webkit-transition: all 4s ease 0;
			&.red {
				color: #ff001a;
			}
			&.green {
				color: #00992d;
			}
			&.blue-light {
				color: #00b1ea;
			}
			&.blue-dark {
				color: #006fb8;
			}
			&.purple {
				color: #93288a;
			}
			&.orange {
				color: #fdaa32;
			}	

			&.transition-term.active {
				top: 0 !important;
				left: 0 !important;
				letter-spacing: 0 !important;
				opacity: 1 !important;
				font-size: 60px !important;
				-webkit-transition: -webkit-transform 2.5s ease, opacity 1s ease;
				z-index: 999;
			}

		}

		&.L {
			width: 815px;
			height: 1085px;
			left: 1080px;
			.term.transition-term.active {
				-webkit-transform: translate3d(-409px, 213px, 0) !important;
			}
		}

		&.A {
			width: 1140px;
			height: 1085px;
			left: 2750px;
			> div { margin-left: 370px;}
			.term.transition-term.active {
				margin: 0;
				-webkit-transform: translate3d(-159px, 213px, 0) !important;
			}
		}

		&.B {
			width: 1005px;
			height: 1085px;
			left: 4800px;
			.term.transition-term.active {
				-webkit-transform: translate3d(-289px, 213px, 0) !important;
			}
		}
		
	}
	
}

#pause {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size:40px;
	background: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	outline: 2px solid black;
	border: 0;
	-webkit-appearance: none;
	&.paused {
		background: red;
	}
}